*{
    box-sizing: border-box;
}
body {
    max-width: 938px;
    margin: 0 auto;
    padding-top: 70px;
    background-color: #2196F3;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
}
.cover {
    margin-top: -65px;
    width: 100%;
}
header {
    position: fixed;
    top: 0;
    width: 938px;
    z-index: 10;
}
@supports (position: sticky) {
  body {
    padding-top: 0;
  }

  header {
    position: sticky;
  }

}

.navbar {
    position: relative;
    height: 80px;
    width: 100%;
    transition: 0.5s ease;
}
.navbar a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: -1px 1px 1px #000;
    font-weight: 700;
}
.navbar .logo {
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5%;
    height: 70px;
    width: 200px;
    padding-top: 0px;
    transition: 0.5s ease;
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-size: 28px;
    font-style: italic;
    letter-spacing: 3px;
    line-height: 0.95;
}
.navbar .logo span {
    font-size: 20px;
    letter-spacing: 3px;
}

.navbar .nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    margin-right: 5%;
}
.navbar .nav .item {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    padding: 2px 5px 5px 5px;
    font-weight: 300;
    line-height: 80px;
    transition: 0.5s ease;
}
.navbar .nav .item #active {
    display: inline-block;
    background-color: #64B5F6;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    border-radius: 2px;
  }
.navbar .nav .item:hover:not(#active) {
    background-color: #42A5F5;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    border-radius: 2px;
    transition: 0.5s ease;
}

.scrolled {
    transition: 0.5s ease;
}
.scrolled.navbar {
    height: 50px;
    background-color: rgba(13, 71, 161, 0.9);
    transition: 0.5s ease;
}
.scrolled.navbar .logo {
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5%;
    height: 40px;
    width: 200px;
    padding-top: 0px;
    transition: 0.5s ease;
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    letter-spacing: 3px;
    line-height: 0.8;
}
.scrolled.navbar .logo span {
    font-size: 16px;
    letter-spacing: 3px;
}
.scrolled.navbar .nav .item {
    margin-top: 2px;
    line-height: 40px;
    transition: 0.5s ease;
}
.scrolled.navbar .nav .item #active {
    display: inline-block;
    background-color: #64B5F6;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    border-radius: 2px;
    transition: 0.5s ease;
  }
.scrolled.navbar .nav .item:hover:not(#active) {
    background-color: #42A5F5;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    border-radius: 2px;
    transition: 0.5s ease;
}

.imgDiv {
    display: inline-block;
    width: 296px;
    height: 252px;
    margin: 5px;
}
.img {

    width: 296px;
    height: 240px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.caption {
    margin: 0px auto;
    font-size: 10px;
    width: 300px;
    height: 12px;
    text-align: center;
    color: #424242;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.galleryDiv {
    margin: 0 auto;
    max-width: 938px;
}
.container {
    margin: 0 auto;     
    max-width: 938px;
    padding: 2px 5px 5px;
}
main {
    background-color: #E3F2FD;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: blue;
}
em {
    color: red;
}

footer {
    background-color: #0d47a1;
    padding: 15px;
    color: #ffffff;
}
footer p {
    clear: both;
    text-align: center;
    padding-top: 15px;
}
.location {
    display: inline-block;
    float: left;
    width: 150px;
}
.contacts {
    display: inline-block;
    float: right;
    width: 225px;
}
.contacts a {
    color: #ffffff;
}
.contacts span {
    float: right;
    padding-right: 5px;
}
.social-media {
    clear: both;
    text-align: center;
}
.social-media strong {
    font-weight: 700;
}
.fa {
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}
.f_div1 {
    display: inline-block;
    width: 450px;
    margin: 15px;
}
.f_input {
    width: 400px;
}
.f_div2 {
    display: inline-block;
    margin: 15px;
}
#note {
    height: 100px;
    width: 400px;
}
.f_rp {
    width: 80px;
    border: none; 
}
.f_dt {
    width: 225px;
}
#room {
    font-weight: 300;
    padding-left: 10px;
    margin-left: 10px;
}
.submit {
    text-align: center;
    margin: 20px;
}
#submit {
    border-radius: 5px;
    background-color: blue;
    color: #FFFFFF;
    height: 30px;
    font-weight: 700;
    font-size: 18px;
}
