*{
    box-sizing: border-box;
}
body {
    max-width: 938px;
    margin: 0 auto;
    padding-top: 70px;
    background-color: #E3F2FD;
}
.cover {
    margin-top: -65px;
    width: 100%;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
@supports (position: sticky) {
  body {
    padding-top: 0;
  }

  header {
    position: sticky;
  }

}

.navbar {
    position: relative;
    height: 80px;
    width: 100%;
    transition: 0.5s ease;
}
.imgDiv {
    display: inline-block;
    width: 300px;
    height: 252px;
    margin: 5px;
}
.img {

    width: 300px;
    height: 240px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.caption {
    margin: 0px auto;
    font-size: 10px;
    width: 300px;
    height: 12px;
    text-align: center;
    color: #757575;
    font-family: 'Lato', sans-serif;
}
.galleryDiv {
    margin: 0 auto;
    max-width: 938px;
}
.container {
    margin: 0 auto;     
    max-width: 938px;
}
